/* Empty. Add your own CSS if you like */


.myButton {
	background-color:#44c767;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin:10px;
	width:90%;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

label{
	font-family:arial;
	font-size:17px;
	padding:16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.messageLabel
{
font-size:22px;
}

input[type='text']
{
    border: 1px solid #E0E0E0; 
    background-color: #F0F0F0;
}

input[type='password']
{
    border: 1px solid #E0E0E0;
    background-color: #F0F0F0;
}

table{
	 width:100%;
}





